.maine{
    background-image: linear-gradient( orange , rgb(39, 39, 39));
    color: white;
    text-align: center;
    padding: 50px;
    height: 1150px;
}
.mainep{
    margin: 20px;    
}
.img{
    width: 400px;
    margin: 20px;
}